* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    background-color: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
    text-align: center;
 }

.container{
    background-color: white;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.799);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.screen{
    /* background-color: red; */
    display: none;
    padding: 2rem;
    align-items: center;

}
.active{
    display: block;
}
h1{
    color: #e86a33;
    font-size: 2.5rem;
    margin: 20px 0;
}
.quiz-header{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
#start-screen p{
    color: #666;
    margin-bottom: 30px;
    font-size: 1.1rem;
}
#question-text{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}
.quiz-info{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.ans-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.ans-btn{
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
}
.ans-btn:hover{
    background-color: #eadbc8;
    border-color: #dac0ae;
}
.ans-btn.correct{
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: #28a745;
}
.ans-btn.incorrect{
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: #dc3545;
}
.progress-bar{
    height: 10px;
    background-color: #f8f0e5;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}
.progress{
    height: 100%;
    width: 0%;
    background-color: #e86a33;
    transition: all 0.3s ease;
}
#results-screen h1{
    margin-bottom: 30px;
}
.result-info {
    background-color: #f8f0e5;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}
#results-message{
    color: #e86a33;
    font-size: 1.5rem;
    font-weight: 600;
}

button{
    font-size: 1.1rem;
    background-color: #e86a33;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #d45b28;
}

@media (max-width: 500px) {
    .screen{
        padding: 1rem;
    }
    h1{
        font-size: 2rem;
    }
    .ans-btn{
        padding: 12px;
    }
    button{
        padding: 12px 25px;
        font-size: 1rem;
    }
}